<section>
    <h1>Minha Loja</h1>
    <h2>Cadastro de Produtos do Administrador</h2>

    <div class="form-group">
        <label>Nome</label>
        <input class="form-control" ng-model="dados.nome">
    </div>

    <div class="form-group">
        <label>Preço</label>
        <input class="form-control" ng-model="dados.preco">
    </div>

    <div class="form-group">
        <label>Imagem</label>
        <input class="form-control" ng-model="dados.imagem">
    </div>

    <button class="btn btn-success" ng-click="cadastrar()">Salvar</button>
</section>
