body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header{
  height: 100px;
}

header img{
  width: 250px;
  margin: auto;
  display: block;
  margin-top: 35px;
}

a{
  text-decoration: none;
}

.container{
  width: 1000px;
  margin: auto;
}

.banner img{
  width: 100%;
}

.row{
  display: flex;
  height: 350px;
}

.product{
    padding: 5px;
}

.product img{
    width: 100%;
}

.product .title{
  color: #444;
  font-size: 24px;
  margin: 5px 0;
  text-align: center;
}

.product .price{
  color: #ff5a00;
  font-size: 40px;
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 800px) {
  .container{
    width: 100%;
  }

  .row{
    display: block;
    height: auto;
  }

  .product .title{
    font-size: 50px;
  }

  .product .price{
    font-size: 60px;
  }

  .product img{
    width: 100%;
  }

  .banner{
    display: none;
  }

  header{
    height: 150px;
  }

  header img{
    width: 300px;
  }
}
