<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify</title>

    <link href="css/darkly-bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body ng-app="spotify">
    <div ng-controller="BuscaController" class="container">
        <nav class="navbar navbar-default">
            <span class="navbar-brand col-md-2">Busca Spotify</span>

            <div class="form-group col-md-8">
                <!-- Adicionar o evento através da diretiva ng-keydown. Usamos o parâmetro $event para inserir informações do evento de clique dentro da função -->
                <input type="text" class="form-control" placeholder="Digite o nome do artista..." ng-model="entrada" ng-keydown="buscarNoEnter($event)">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-success btn-block" ng-click="buscar()">Buscar</button>
            </div>
        </nav>

        <div class="alert alert-info" ng-show="artistas.length == 0">Sua busca não retornou resultados!</div>
        <div class="alert alert-danger" ng-show="erro">Houve um erro na busca!</div>

        <section class="row">
            <article class="col-md-6" ng-repeat="artista in artistas">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{artista.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <img ng-src="{{artista.images[0].url}}" src="imagens/sem-foto.jpg" alt="foto">

                        <p>Seguidores: {{artista.followers.total}}</p>
                        <p>Gêneros: {{artista.genres[0]}}, {{artista.genres[1]}}</p>
                    </div>
                </div>
            </article>

        </section>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
